extends layout

block content



  #login-container
    h1= title

    form(name="login" action="/login" method="post")

      h4
        small Login To Your Account
      label Username
      br
      input(type="text", name="user")
      br
      label Password
      br
      input(type="password", name="pass")
      br
      #create-account
        button Login
        br
        a(href="signup") Create new account here!
        h5= message
  #anon
    a(href="posts") Browse Anonymously
