extends layout

block content


  h1= title
  p Welcome to #{title}

  #login-container
    form( method="post")#login-form.well.span4
      h1 Hello!
      p.subheading Please Login To Your Account
      label Username
      input(type="text", name="user", id='user-tf').span4.required
      label Password
      input(type="password", name="pass", id='pass-tf').span4.required
