extends layout

block content


  h1= title

  #login-container
    form(name="login" action="/login" method="post")
      h5 Please Login To Your Account
      label Username
      br
      input(type="text", name="user")
      br
      label Password
      br
      input(type="password", name="pass")
      br
      button Login
      br
      #create-account
        a(href="signup") create account
