body {
  padding: 50px;
  background-image: url("background.jpg");
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #ddd;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 5px;
}
h3 {
  color: #ddd;
  text-align: center;
  margin-top: 160px;
}
#login-container {
  color: #ddd;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}
#login-container input {
  background-color: #ddd;
  margin: 5px 0;
}
#login-container h4 {
  margin-left: 0px;
  text-align: center;
}
#login-container h5 {
  text-align: center;
  color: #f00;
}
#login-container button {
  width: 100px;
  height: 25px;
  margin: 10px 0;
}
#create-account {
  margin: 5px 1px;
  text-align: center;
}
label {
  text-align: left;
  margin: 20px 5px;
}
#signup-container {
  color: #ddd;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}
#signup-container input {
  background-color: #ddd;
  margin: 5px 0;
}
#signup-container button {
  width: 100px;
  height: 25px;
  margin: 10px 0;
}
#ptitle {
  margin: 20px 160px 20px 160px;
}
#ptitle p {
  color: #002344;
  font-size: 175%;
  font-weight: bold;
  height: 30px;
  background: #ddd;
  border-style: solid;
  border-width: 5px;
  border-color: #056f83;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}
#ppost {
  margin: 20px 160px 0 160px;
}
#ppost p {
  word-wrap: break-word;
  background: #ddd;
  color: #002344;
  border-style: solid;
  border-width: 5px;
  border-color: #056f83;
  font-size: 125%;
  height: 210px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}
#pedit {
  color: #fff;
  margin: 20px 160px 20px 160px;
  text-align: left;
}
#pname {
  margin: 20px 160px 20px 160px;
  text-align: right;
  color: #aaa;
}
#pname p {
  height: 20px;
}
#title-input {
  margin: 20px 0 20px 0;
}
#title-input input {
  background-color: #fff;
  font-size: 175%;
  font-weight: bold;
  height: 30px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#post-input {
  margin: 20px 0 20px 0;
}
#post-input textarea {
  background-color: #fff;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  font-size: 150%;
  height: 195px;
  width: 100%;
}
#post-form {
  margin: 20px 170px 20px 200px;
}
#inner-post-form {
  margin: 20px 170px 20px 160px;
}
#large-header h1 {
  margin-top: 0;
  font-size: 250%;
}
#signout {
  text-align: center;
}
#anon {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#return {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
