body
  padding: 50px
  background-image: url('background.jpg')
  background-color: #EEEEEE
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  margin-left auto
  margin-right auto

h1
  color #DDDDDD
  text-align center
  margin-top 160px
  margin-bottom 5px



h3
  color #DDDDDD
  text-align center
  margin-top 160px

#login-container
  color #DDDDDD
  width 170px
  margin-left auto
  margin-right auto
  input
    background-color #DDDDDD
    margin 5px 0
  h4
    margin-left 0px
    text-align center
  h5
    text-align center
    color red
  button
    width 100px
    height 25px
    margin 10px 0

#create-account
  margin 5px 1px
  text-align center

label
  text-align left
  margin 20px 5px

#signup-container
  color #DDDDDD
  width 170px
  margin-left auto
  margin-right auto
  input
    background-color #DDDDDD
    margin 5px 0
  button
    width 100px
    height 25px
    margin 10px 0



#ptitle
  margin 20px 160px 20px 160px
  p
    color #002344
    font-size 175%
    font-weight bold
    height 30px
    background #DDDDDD
    border-style solid
    border-width 5px
    border-color #056F83
    padding-left 5px
    padding-right 5px
    padding-top 5px
    padding-bottom 5px
    text-align left

#ppost
  margin 20px 160px 0 160px
  p
    background #DDDDDD
    color #002344
    border-style solid
    border-width 5px
    border-color #056F83
    font-size 125%
    height 200px
    padding-left 5px
    padding-right 5px
    padding-top 5px
    padding-bottom 5px
    text-align left

#pedit
  color white
  margin 20px 160px 20px 160px
  text-align left

#pname
  margin 20px 160px 20px 160px
  text-align right
  color #AAAAAA
  p
    height 20px


#title-input
  margin 20px 0 20px 0
  input
    background-color white
    font-size 175%
    font-weight bold
    height 30px
    width 100%
    padding-left 5px
    padding-right 5px
    padding-top 5px
    padding-bottom 5px

#post-input
  margin 20px 0 20px 0
  textarea
    background-color white
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    font-size 125%
    height 200px
    width 100%

#post-form
  margin 20px 170px 20px 200px

#inner-post-form
  margin 20px 170px 20px 160px


#large-header
  h1
    margin-top 0
    font-size 250%
#signout
  text-align center

#anon
  position fixed
  bottom 10px
  right 10px

#return
  position fixed
  bottom 10px
  left 10px
